@tailwind base;
@layer base {
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(255 237 213);
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(249 115 22);
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgb(234 88 12);
  }
}

@tailwind components;

@layer components {
  .genericButton {
    @apply px-5 py-3 text-sm text-gray-200 bg-gray-800 rounded-md hover:bg-gray-700 xl:text-base;
  }
  .inputField {
    @apply w-full px-6 py-3 text-sm text-gray-200 bg-gray-700 shadow-md appearance-none rounded-l-md md:text-base focus:ring-4 focus:ring-opacity-75 focus:ring-orange-600 focus:outline-none;
  }
  .labelField {
    @apply block mb-2 text-sm font-bold text-gray-200 xl:text-base;
  }
  .modalFormField {
    @apply w-full px-6 py-3 text-sm text-gray-800 bg-gray-200 rounded-md shadow-md appearance-none md:text-base focus:ring-4 focus:ring-opacity-75 focus:ring-orange-600 focus:outline-none;
  }
  .modalFormLabel {
    @apply block mb-2 text-base font-bold text-gray-200;
  }
  .modalFormButton {
    @apply w-full px-6 py-2 text-sm font-bold text-gray-200 bg-orange-600 rounded-md shadow-md md:text-base focus:outline-none hover:bg-orange-700;
  }
  .trailsText {
    position: relative;
    width: 100%;
    color: black;
    will-change: transform, opacity;
    overflow: hidden;
  }
  .trailsText > div {
    overflow: hidden;
  }
}
@tailwind utilities;
