@tailwind base;
@tailwind components;

@layer components {
  .genericButton {
    @apply px-3 py-2 text-gray-200 bg-gray-800 rounded-md xl:py-3 xl:px-5 hover:bg-gray-700;
  }

  .inputField {
    @apply w-full px-6 py-3 text-sm text-white bg-gray-700 shadow-md appearance-none rounded-l-md md:text-base focus:ring-4 focus:ring-opacity-75 focus:ring-orange-600 focus:outline-none;
  }
}

@tailwind utilities;
